body { 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; /* Evitar que o container fique colado nas bordas */
    background-color: #f4f4f4;
}

.container {
    font-family: 'Poppins', sans-serif;
    background: #00AE9D;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #003641;
    font-size: 1.8em; /* Ajuste o tamanho da fonte */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #003641;
}

button {
    padding: 10px 15px;
    background-color: #003641;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7DB61C;
}

/* Media Query para telas menores */
@media (max-width: 480px) {
    .container {
        padding: 15px; /* Reduzir o padding para dispositivos móveis */
    }

    h1 {
        font-size: 1.5em; /* Reduzir o tamanho da fonte do título */
    }

    p {
        font-size: 16px; /* Ajuste de tamanho de fonte para o texto */
    }

    input, select, button {
        padding: 8px; /* Reduzir padding dos elementos de formulário */
        font-size: 14px; /* Diminuir o tamanho da fonte */
    }
}